@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#root {
  font-family: "Open Sans", sans-serif;
}

.container {
  display: grid;
  padding: 2rem;
  gap: 1rem;
  min-width: 320px;
  width: 53%;
}

h1 {
  font-weight: 600;
}

h6 {
  font-weight: 500;
  margin-bottom: 1rem;
  font-size: 1.1rem;
  color: #282828;
}

p {
  margin-top: 0.75rem;
  margin-left: 1rem;
}

a {
  color: #00538b;
  font-weight: 500;
}
